<%= render 'shared/error_notification', addClass: 'marginLeft0' %>

<div>
  <%= label_tag :description %><br>
  <%= f.text_area :description, rows: 3, cols: 40, maxlength: 255 %>
</div>
<div>
  <%= f.label :priority %><br>
  <%= f.select :priority, options_for_select(1..10, @task.priority) %>

</div>
<div>
  <%= f.label :due_date %><br>
  <%= f.date_select :due_date, order: [:month, :day, :year] %>
</div>
<div>
  <%= f.submit 'Save', class: 'btn btn-success floatLeft marginTop20 saveButton' %>
  <%= link_to "<button type='button' class='btn btn-warning floatLeft marginTop20'>Cancel</button>".html_safe,
              todo_list_url, remote: true %>
</div>