<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div class="alert alert-danger notice">
      <% @user.errors.full_messages.each do |msg| %>
        <p><%= msg %></p>
      <% end %>
    </div>
  <% end %>

  <div class="field marginTop20">
    <%= label_tag :name, 'Name:' %>
    <%= text_field_tag :name, params[:name] %>
  </div>
  <div class="field passwordDiv">
    <%= label_tag :password, 'Password:' %>
    <%= password_field_tag :password %>
  </div>
  <div class="field passwordConfirmationDiv">
    <%= label_tag :password_confirmation, 'Password Confirmation:' %>
    <%= password_field_tag :password_confirmation%>
  </div>
  <div class="actions">
    <%= f.submit class: 'btn btn-success marginTop20' %>
  </div>
<% end %>
